#indications{
	width: 40%;
	font-size: 18px;
	text-align: justify;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#carteBarrages{

}

#modaleCarteB .modal-body{
	justify-content: space-around;
}

#modaleCarteB .modal-content{
	min-width: 800px;
	margin: 16% auto;
}

#annulerCarteB{
	margin-top: 25px;
	color: #c94c4c;
	background-color: #fff;
	border-color: #c94c4c;
}